html {
	font-family: "Vollkorn";
}

body {
	margin: 0;
}

a {
	color: white;
	margin-left: 20px;
}

#banner {
	background-color: #dc143c;
	color: white;
}

#bannerleft {
	display: table-cell;
	clear: both;
	color: white;
}

#icon {
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	float: left;
}

#name {
	display: inline-block;
	vertical-align: middle;
	float:left;
	font-size: 30;
}

#namelink {
	text-decoration: none;
}

#links {
	margin-top: 4px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	font-size: 25;
}

#contentborder {
	height 100%;
	margin: 20px;
	border: 2px #dc143c solid;
}

#content {
	height 100%;
	margin: 20px;
}