html {
	font-family: "Open Sans";
}

body {
	margin: 0;
	color: white;
	background-color: seagreen;
}

#banner {
	background-color: black;
}

#title {
	text-align: center;
	font-size: 40;
	font-weight: bold;
}

#defs {
	font-size: 10;
}

#content {
	text-align: center;
	margin-top: 50px;
}

#posts {
	display: inline-block;
	width: 70%;
	text-align: justify;
}

#posttitle {
	font-size: 20;
}

#postdate {
	font-size: 14;
}

#posttext {
	font-size: 14;
}